<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Should be included in manifest file if targetSdkVersion >=30 and build gradle version >4.1 -->
    <queries>
        <package android:name="za.co.synthesis.halo.mpos.white" />
        <package android:name="za.co.synthesis.halo.mpos.green" />
        <package android:name="za.co.synthesis.halo.mpos.qlink" />
        <package android:name="za.co.synthesis.halo.mpos.go" />
        <package android:name="za.co.synthesis.halo.mpos.go.link" />
        <package android:name="za.co.synthesis.halo.mpos.iveri" />
        <package android:name="za.co.synthesis.halo.mpos.clientele" />
        <package android:name="za.co.synthesis.halo.mpos.vodacom" />
        <package android:name="za.co.synthesis.halo.mpos.ezaga" />
        <package android:name="za.co.synthesis.halo.mpos.exipay" />
        <package android:name="za.co.synthesis.halo.mpos.slicpay" />
        <package android:name="za.co.synthesis.halo.mpos.pnp" />
        <package android:name="za.co.synthesis.halo.mpos.howler" />
        <package android:name="za.co.synthesis.halo.mpos.peach" />
        <package android:name="za.co.synthesis.halo.mpos.paiment" />
        <package android:name="za.co.synthesis.halo.mpos.quinnpay" />
        <package android:name="za.co.synthesis.halo.mpos.nightsbridge" />
        <package android:name="za.co.synthesis.halo.mpos.go.brazil" />
        <package android:name="za.co.synthesis.halo.mpos.a2pay" />
        <package android:name="za.co.synthesis.halo.mpos.glimmer" />
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Halo_dot_go_enabler"
        tools:targetApi="31">
        <activity
            android:name=".TransactionDetailsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".TransactionCompletedActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ApiRequestActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ProfileCompletedActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".RequestActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".TransactionActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>